<div class="animated fadeIn">
    <div class="row" ng-show="vm.campeonatos && vm.campeonatos.length > 0">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    Campeonatos
                    <div class="card-actions"></div>
                </div>
                <div class="card-block">
                    <div id="campeonatos-container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fecha Desde</th>
                                    <th>Fecha Hasta</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="campeonato in vm.campeonatos">
                                    <td class="text-left">
                                        <label>{{ campeonato.Nombre }}</label>
                                    </td>
                                    <td class="text-left">
                                        <label>{{ campeonato.FechaDesde | date:"dd/MM/yyyy" }}</label>
                                    </td>
                                    <td class="text-left">
                                        <label>{{ campeonato.FechaHasta | date:"dd/MM/yyyy" }}</label>
                                    </td>
                                    <td class="text-right">
                                        <a href="#" ui-sref="campeonato({id: campeonato.CampeonatoId})"><i class="fa fa-edit"></i>Editar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>